<h2>Location & Time</h2>
<strong>Country
</strong>
{{data['time_zone_country']}}
<br/>
<strong>City
</strong>
{{data['time_zone_city']}}
<br/>
<strong>Time Zone
</strong>
{{data['time_zone_timezone']}}
<br/>
<strong>Time
</strong>
{{data['time_zone_time']}}
